<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="About page" stopProcessing="true">
                    <match url="^/about/$" />
                    <action type="Rewrite" url="index.php?page=about" />
                </rule>
                <rule name="Style page" stopProcessing="true">
                    <match url="^/css/(.*\.css)$" />
                    <action type="Rewrite" url="/public/css/{R:1}" />
                </rule>
                <rule name="Script page" stopProcessing="true">
                    <match url="^/js/(.*\.js)$" />
                    <action type="Rewrite" url="/public/js/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>